@model ContactForm

<style type="text/css">
    FORM.contactForm { }
    FORM.contactForm DIV.formField LABEL { display: inline-block; float:left; width: 100px; }
    FORM.contactForm DIV.validation-summary-errors UL
    {
        margin-left: 8px;
        padding-left: 8px;
    }    
    FORM.contactForm DIV.validation-summary-errors UL LI
    {
        list-style-type: disc;
    }    
</style>


@using (Html.BeginRouteForm(
    Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, 
    FormMethod.Post, 
    new { @class = "contactForm" }))
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary("The following errors must be corrected before submitting the form")

    @Html.Sitecore().FormHandler()
        
    @Html.HiddenFor(m => m.FormRenderingId)
    
    <div class="formField">
        @Html.LabelFor(m => m.FirstName) 
        @Html.EditorFor(m => m.FirstName)
        @Html.ValidationMessageFor(m => m.FirstName, "*")
    </div>
    
    
    <div class="formField">
        @Html.LabelFor(m => m.LastName) 
        @Html.EditorFor(m => m.LastName)
        @Html.ValidationMessageFor(m => m.LastName, "*")
    </div>    
    
    <div class="formField">
        @Html.LabelFor(m => m.Email) 
        @Html.EditorFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email, "*")
    </div>
        
    <div class="formField">
        @Html.LabelFor(m => m.Question) 
        @Html.EditorFor(m => m.Question)
        @Html.ValidationMessageFor(m => m.Question, "*")
    </div>
        
    <input type="submit" value="Submit" />

}