@model FeaturedAbstractList

<style type="text/css">
    DIV.featuredarticles DIV.promospot A.featuredLink { margin-left: 10px; }
</style>

<div class="featuredarticles">
@if (Model.DisplayItems.Length > 0)
{    
    <div class="promospot">
        @if (Model.FeaturedTitleItem != null)
        {
            <h2>
             @Html.Launch().Field("Image", Model.FeaturedTitleItem, new { @maxWidth = "30", @maxHeight = "26" })
             @Html.Sitecore().Field("Title", Model.FeaturedTitleItem)
            </h2>
        }
        <ul>
        @foreach (AbstractItem featuredItem in Model.DisplayItems)
        {
            <li>
            <a href="@featuredItem.DisplayItem.GetLink()" class="featuredLink">
                @featuredItem.Title</a>
             @featuredItem.Abstract
            </li>
        }
        </ul>
    </div>
}
else
{
 <em class="PageEditorNote">This List is empty. Please update the inputs or remove
   this component.</em>
}
</div>


