@model RelatedItemsList
@{
    var relatedTextItem = new CommonTextItem("Background Articles");
    
    if (Model.DisplayRelatedItems.Length > 0)
    {
        <div class="related_articles">
        <h3>@relatedTextItem.Text</h3>
        <ul>
            @foreach (Item relatedItem in Model.DisplayRelatedItems)
            {
                <li><a href="@Html.Raw(relatedItem.GetLink())">@Html.Sitecore().Field("Title", relatedItem)</a></li>  
            }
        </ul>
        </div>
    }
}

@{
    var referencesTextItem = new CommonTextItem("Further Reading");
    
    if (Model.DisplayDeepItems.Length > 0)
    {
        <div class="related_articles">
        <h3>@referencesTextItem.Text</h3>
        <ul>            

            @foreach (Item relatedItem in Model.DisplayDeepItems)
            {
                <li><a href="@Html.Raw(relatedItem.GetLink())">@Html.Sitecore().Field("Title", relatedItem)</a></li>  
            }
        </ul>
        </div>

    }
    
}