@model Sitecore.Mvc.Presentation.RenderingModel
@{
    Layout = null;

    ViewContext.ViewData["Test2"] = GetType();
    
}

@{
    var countViewContext = Sitecore.Mvc.Common.ContextService.Get().GetInstances<ViewContext>().Count();  
    
    var topViewContext = Sitecore.Mvc.Common.ContextService.Get().GetInstances<ViewContext>().FirstOrDefault();  
    
}

<!DOCTYPE html>

<html>
<head>
    <title>TestView.cshtml</title>
</head>
<body>
    <div>
        <ul>
            <li>Test View Layout</li>

            
            <li>View Context Stack Size: @Html.Encode(countViewContext)</li>


            <li>ViewData Model Type: @Html.Encode(ViewData.Model.GetType())</li>
            <li>ViewContext ViewData Model Type: @Html.Encode(ViewContext.ViewData.Model.GetType())</li>
            <li>Top ViewContext ViewData Model Type: @Html.Encode(topViewContext.ViewData.Model.GetType())</li>
            
            <li>ViewData Test String: @Html.Encode(ViewData["Test"])</li>
            <li>ViewData Test2 String: @Html.Encode(ViewData["Test2"])</li>
            <li>ViewContext.ViewData Test String: @Html.Encode(ViewContext.ViewData["Test"])</li>
            <li>ViewContext.ViewData Test2 String: @Html.Encode(ViewContext.ViewData["Test2"])</li>
            
            <li>Top ViewContext.ViewData Test String: @Html.Encode(topViewContext.ViewData["Test"])</li>
            <li>Top ViewContext ViewData Test2 String: @Html.Encode(topViewContext.ViewData["Test2"])</li>

        </ul>

        <hr />
        
        @Html.Sitecore().Placeholder("body")
        
    </div>
</body>
</html>
