@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var i = Model.Item.GetInternalLinkItem("Link To");
    
    var learnMoreLink = i.GetLink();

    var learnMoreTextItem = new CommonTextItem("Learn More");    
    
}

<div class="promospot">
 <h2>
  @Html.Launch().Field("Image", null, new { @maxWidth = "30", @maxHeight = "26" }) 
  @Html.Sitecore().Field("Title")
 </h2>
 @Html.Sitecore().Field("Abstract") 
<a href="@learnMoreLink" class="readmore">
  @learnMoreTextItem.Text
</a>
</div>
<div class="floatClear"></div>