@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var definitionTextItem  = new CommonTextItem("Definition");
    var imageTextItem = new CommonTextItem("Image");
    var usageTextItem = new CommonTextItem("Usage");
}

<div class="abstract_item">
 <h3>@definitionTextItem.Text</h3>
 @Html.Sitecore().Field("Definition")
</div>
<div class="abstract_item">
 <h3>@imageTextItem.Text</h3>
 @Html.Sitecore().Field("Image")
</div>
<div class="abstract_item">
 <h3>@usageTextItem.Text</h3>
 @Html.Sitecore().Field("Usage")
</div>